In [67]:
!pip install requests

Requirement already satisfied: requests in c:\users\remo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\remo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\remo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\remo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\remo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2023.7.22)

In [68]:
import pandas as pd
import requests

url = "https://drive.google.com/uc?id=1nfktbI7ucHOUwO6EHD2pPHvOf1hN9nmZ"

destination_file = "videogame.csv"
response = requests.get(url)

if response.status_code == 200:
    # Save the content of the file to a local file
    with open(destination_file, "wb") as file:
        file.write(response.content)
    print(f"The file {destination_file} has been successfully downloaded.")
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

# Load the CSV file into a DataFrame
df = pd.read_csv(destination_file)

# Now you can work with the 'df' DataFrame
# For example, you can print the first few rows of the DataFrame
print(df.head())

The file videogame.csv has been successfully downloaded.
                           Nombre  3DS   PC  PS3  PSP  PSV X360  PS4  XOne  \
0                          ZombiU  NaN  NaN  NaN  NaN  NaN  NaN  PS4   NaN
1             Zombie Army Trilogy  NaN  NaN  NaN  NaN  NaN  NaN  PS4   NaN
2             Zombie Army Trilogy  NaN  NaN  NaN  NaN  NaN  NaN  NaN  XOne
3  Zero Escape: Zero Time Dilemma  3DS  NaN  NaN  NaN  NaN  NaN  NaN   NaN
4  Zero Escape: Zero Time Dilemma  NaN  NaN  NaN  NaN  PSV  NaN  NaN   NaN

    Año                Genero-Editorial  Unnamed2 Ventas NA Ventas EU  \
0  2016                  Action-Ubisoft       NaN         0      0,04
1  2015  Shooter-Rebellion Developments       NaN      0,04      0,12
2  2015  Shooter-Rebellion Developments       NaN      0,04      0,05
3  2016           Adventure-Aksys Games       NaN      0,04         0
4  2016           Adventure-Aksys Games       NaN      0,03         0

  Ventas JP Ventas Otros Ventas Global
0      0,01         0,01          0,05
1         0         0,03           0,2
2         0         0,01           0,1
3      0,01         0,01          0,06
4      0,02         0,01          0,06

In [69]:
df.describe()

               Año  Unnamed2
count   955.000000       0.0
mean   2015.383246       NaN
std       0.492855       NaN
min    2015.000000       NaN
25%    2015.000000       NaN
50%    2015.000000       NaN
75%    2016.000000       NaN
max    2017.000000       NaN

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955 entries, 0 to 954
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            955 non-null    object
 1   3DS               125 non-null    object
 2   PC                91 non-null     object
 3   PS3               109 non-null    object
 4   PSP               3 non-null      object
 5   PSV               182 non-null    object
 6   X360              53 non-null     object
 7   PS4               257 non-null    object
 8   XOne              135 non-null    object
 9   Año               955 non-null    int64
 10  Genero-Editorial  955 non-null    object
 11  Unnamed2          0 non-null      float64
 12  Ventas NA         955 non-null    object
 13  Ventas EU         955 non-null    object
 14  Ventas JP         955 non-null    object
 15  Ventas Otros      955 non-null    object
 16  Ventas Global     955 non-null    object
dtypes: float64(1), int64(1), object(15)
memory usage: 127.0+ KB

In [71]:
df.head()

,Nombre,3DS,PC,PS3,PSP,PSV,X360,PS4,XOne,Año,Genero-Editorial,Unnamed2,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,Ventas Global
0,ZombiU,NaN,NaN,NaN,NaN,NaN,NaN,PS4,NaN,2016,Action-Ubisoft,NaN,0,"0,04","0,01","0,01","0,05"
1,Zombie Army Trilogy,NaN,NaN,NaN,NaN,NaN,NaN,PS4,NaN,2015,Shooter-Rebellion Developments,NaN,"0,04","0,12",0,"0,03","0,2"
2,Zombie Army Trilogy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XOne,2015,Shooter-Rebellion Developments,NaN,"0,04","0,05",0,"0,01","0,1"
3,Zero Escape: Zero Time Dilemma,3DS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,Adventure-Aksys Games,NaN,"0,04",0,"0,01","0,01","0,06"
4,Zero Escape: Zero Time Dilemma,NaN,NaN,NaN,NaN,PSV,NaN,NaN,NaN,2016,Adventure-Aksys Games,NaN,"0,03",0,"0,02","0,01","0,06"

In [72]:
duplicate_rows = df.duplicated(keep='first')  # keep='first' marks all but the first occurrence as duplicates

# Display duplicate rows
if duplicate_rows.any():
    duplicate_rows_indices = df[duplicate_rows].index
    print(f"Duplicate rows found at indices: {duplicate_rows_indices}")
else:
    print("No duplicate rows found.")

Duplicate rows found at indices: Index([ 36,  73, 101, 116, 141, 165, 172, 185, 195, 271, 289, 340, 356, 388,
       436, 441, 444, 454, 513, 545, 546, 555, 562, 568, 639, 651, 661, 663,
       684, 722, 754, 826, 844, 852, 908, 937],
      dtype='int64')

In [73]:
""" 
Observed features:
1 A null column exists.
2 There are 36 duplicated rows
3 There are columns that are ordered in long format.
4 There is a concatenated column "Genero-Editorial"
4 Columns that have prices and numerical values are loaded as objects, not floats.
 """

' \nObserved features:\n1 A null column exists.\n2 There are 36 duplicated rows\n3 There are columns that are ordered in long format.\n4 There is a concatenated column "Genero-Editorial"\n4 Columns that have prices and numerical values are loaded as objects, not floats.\n '

In [74]:
# 1 A null column exists/ we remove null columns
df = df.dropna(axis=1, how='all')

In [75]:
#1 There are 36 duplicated rows/ we remove duplicates
df = df.drop_duplicates()

In [76]:
df.columns

Index(['Nombre', '3DS', 'PC', 'PS3', 'PSP', 'PSV', 'X360', 'PS4', 'XOne',
       'Año', 'Genero-Editorial', 'Ventas NA', 'Ventas EU', 'Ventas JP',
       'Ventas Otros', 'Ventas Global'],
      dtype='object')

In [77]:
#3 There are columns that are ordered in long format /generate code to change the long format column to short, 1º one by one 
df_3DS = df.dropna(subset=['3DS'])
df_3DS = df_3DS.dropna(axis=1, how='all')
df_3DS=df_3DS.rename(columns={'3DS': 'Plataforma'})

df_3DS.head()

,Nombre,Plataforma,Año,Genero-Editorial,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,Ventas Global
3,Zero Escape: Zero Time Dilemma,3DS,2016,Adventure-Aksys Games,"0,04",0,"0,01","0,01","0,06"
8,Yowamushi Pedal,3DS,2015,Action-Namco Bandai Games,0,0,"0,04",0,"0,04"
13,Yokai Watch Busters,3DS,2015,Action-Level 5,0,0,"2,28",0,"2,28"
14,Yokai Watch 3,3DS,2016,Action-Level 5,0,0,"1,27",0,"1,27"
15,Yokai Sangokushi,3DS,2016,Action-Level 5,0,0,"0,55",0,"0,55"

In [78]:
#3 There are columns that are ordered in long format / there are 8 columns in this format, for this we made a function
def Long_to_Short(df): #Defino mi función
    dataframes = {}  # Genero un diccionario
    dataframe_names = []  # Lista para almacenar los nombres de los DataFrames
        
    i = 1

    for columna in df.columns:
        if df[columna].isnull().any():
            df_temp = df.dropna(subset=[columna])
            df_temp = df_temp.dropna(axis=1, how='all')
            df_temp = df_temp.rename(columns={columna: 'Plataforma'})

            df_name = f'DF_{i}'  # Nombre único para el DataFrame
            dataframes[df_name] = df_temp
            dataframe_names.append(df_name)  # Agregar el nombre a la lista
            i += 1  # Incrementar el contador

    return dataframes, dataframe_names

In [79]:
dataframes, dataframe_names = Long_to_Short(df)

dataframes_list = []

for df_name in dataframe_names:
    df_temp = dataframes[df_name]
    dataframes_list.append(df_temp)

# Concatena los DataFrames de manera vertical
df2 = pd.concat(dataframes_list, axis=0)

In [80]:
df2

,Nombre,Plataforma,Año,Genero-Editorial,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,Ventas Global
3,Zero Escape: Zero Time Dilemma,3DS,2016,Adventure-Aksys Games,"0,04",0,"0,01","0,01","0,06"
8,Yowamushi Pedal,3DS,2015,Action-Namco Bandai Games,0,0,"0,04",0,"0,04"
13,Yokai Watch Busters,3DS,2015,Action-Level 5,0,0,"2,28",0,"2,28"
14,Yokai Watch 3,3DS,2016,Action-Level 5,0,0,"1,27",0,"1,27"
15,Yokai Sangokushi,3DS,2016,Action-Level 5,0,0,"0,55",0,"0,55"
...,...,...,...,...,...,...,...,...,...
912,Assassin's Creed Syndicate,XOne,2015,Action-Ubisoft,"0,61","0,56",0,"0,11","1,28"
917,Assassin's Creed Chronicles,XOne,2016,Action-Ubisoft,0,"0,01",0,0,"0,01"
918,Arslan: The Warriors of Legend,XOne,2016,Action-Tecmo Koei,"0,01",0,0,0,"0,02"
942,Adventure Time: Finn & Jake Investigations,XOne,2015,Action-Little Orbit,"0,02","0,02",0,0,"0,05"
950,7 Days to Die,XOne,2016,Action-Telltale Games,"0,02","0,02",0,0,"0,04"

In [81]:
#4 There is a concatenated column/ We separate it using right split, because there is a type of genre that uses a - on the left side.
df2[['Genero', 'Editorial']] = df2['Genero-Editorial'].str.rsplit('-', n=1, expand=True)
df2 = df2.drop('Genero-Editorial', axis=1)
df2.head()

,Nombre,Plataforma,Año,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,Ventas Global,Genero,Editorial
3,Zero Escape: Zero Time Dilemma,3DS,2016,"0,04",0,"0,01","0,01","0,06",Adventure,Aksys Games
8,Yowamushi Pedal,3DS,2015,0,0,"0,04",0,"0,04",Action,Namco Bandai Games
13,Yokai Watch Busters,3DS,2015,0,0,"2,28",0,"2,28",Action,Level 5
14,Yokai Watch 3,3DS,2016,0,0,"1,27",0,"1,27",Action,Level 5
15,Yokai Sangokushi,3DS,2016,0,0,"0,55",0,"0,55",Action,Level 5

In [82]:
# check the columns split
valores_unicos_genero = df2['Genero'].unique()
valores_unicos_editorial = df2['Editorial'].unique()

# Imprime los valores únicos en 'Genero' y 'Editorial'
print("Valores únicos en 'Genero':")
print(valores_unicos_genero)

print("Valores únicos en 'Editorial':")
print(valores_unicos_editorial)

Valores únicos en 'Genero':
['Adventure' 'Action' 'Role-Playing' 'Misc' 'Simulation' 'Platform'
 'Strategy' 'Puzzle' 'Fighting' 'Sports' 'Strategy-Take' 'Racing'
 'Shooter' 'Sports-Take' 'Action-Take' 'Shooter-Take']
Valores únicos en 'Editorial':
['Aksys Games' 'Namco Bandai Games' 'Level 5' 'Nintendo'
 'Avanquest Software' 'Square Enix' 'Activision' 'FuRyu' '505 Games'
 'Nippon Columbia' 'Marvelous Interactive' 'Atlus' 'Happinet' 'Sega'
 'Yacht Club Games' 'Deep Silver' 'Intergrow' 'Tecmo Koei'
 'Nippon Ichi Software' 'Marvelous Entertainment' 'GungHo' 'Takara Tomy'
 'Koch Media' 'mixi, Inc' 'Capcom' 'Little Orbit' 'Rocket Company'
 'Warner Bros. Interactive Entertainment' 'Extreme Entertainment Group'
 'Screenlife' 'Unknown' 'Ubisoft' 'WayForward Technologies' 'Alchemist'
 'Arc System Works' 'Shogakukan' '5pb' 'Inti Creates' 'Two Interactive'
 'Bethesda Softworks' 'inXile Entertainment' 'Focus Home Interactive'
 'Electronic Arts' 'Rondomedia' 'Paradox Interactive' 'Focus Multimedia'
 'Insomniac Games' 'Alternative Software' 'Atari' 'Milestone S.r.l.'
 'Slightly Mad Studios' 'Konami Digital Entertainment'
 'Alawar Entertainment' 'Mojang' 'Kalypso Media' 'Codemasters'
 'Nordic Games' 'Paradox Development' 'Astragon' 'Microids'
 'Bigben Interactive' 'Aqua Plus' 'Tru Blu Entertainment' 'Nitroplus'
 'D3Publisher' 'Sony Computer Entertainment' 'Kaga Create' 'PQube'
 'Telltale Games' 'Disney Interactive Studios' 'Broccoli'
 'Nihon Falcom Corporation' 'Idea Factory' 'Experience Inc.'
 'dramatic create' 'Kadokawa Games' 'Kadokawa Shoten' 'Rain Games'
 'Funbox Media' 'Prototype' 'TGL' 'Marvelous Games' 'N/A'
 'Idea Factory International' 'Marvel Entertainment' 'Minato Station'
 'HuneX' 'Compile Heart' 'Cygames' 'Asgard' 'Rebellion Developments'
 'Sold Out' 'Sony Computer Entertainment Europe' 'Devolver Digital'
 'Milestone S.r.l' 'Harmonix Music Systems' 'TopWare Interactive'
 'Introversion Software' 'Epic Games' 'Hello Games'
 'Dusenberry Martin Racing' 'FuRyu Corporation' 'Yeti' 'UIG Entertainment'
 'Xseed Games' 'Avanquest' 'Revolution Software' 'Rising Star Games'
 'Microsoft Game Studios' 'MLB.com' 'Stainless Games']

In [83]:
#4 Columns that have prices and numerical values are loaded as objects, not floats.
df2['Ventas NA'] = df2['Ventas NA'].str.replace(',', '.', regex=True).astype(float)
df2['Ventas EU'] = df2['Ventas EU'].str.replace(',', '.', regex=True).astype(float)
df2['Ventas JP'] = df2[ 'Ventas JP'].str.replace(',', '.', regex=True).astype(float)
df2['Ventas Otros'] = df2['Ventas Otros'].str.replace(',', '.', regex=True).astype(float)
df2['Ventas Global'] = df2['Ventas Global'].str.replace(',', '.', regex=True).astype(float)

In [88]:
# Groups are generated through SQL in python using the sqlite3 library
import sqlite3

result = df2.query("Genero == 'Action'")
result.head()

,Nombre,Plataforma,Año,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,Ventas Global,Genero,Editorial
8,Yowamushi Pedal,3DS,2015,0.0,0.00,0.04,0.0,0.04,Action,Namco Bandai Games
13,Yokai Watch Busters,3DS,2015,0.0,0.00,2.28,0.0,2.28,Action,Level 5
14,Yokai Watch 3,3DS,2016,0.0,0.00,1.27,0.0,1.27,Action,Level 5
15,Yokai Sangokushi,3DS,2016,0.0,0.00,0.55,0.0,0.55,Action,Level 5
121,Thomas and Friends: Steaming around Sodor,3DS,2015,0.0,0.02,0.00,0.0,0.02,Action,Avanquest Software